*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

@font-face {
  font-family: "Lemonada";
  src: url("../fonts/Lemonada-VariableFont_wght.ttf") format("truetype");
  font-weight: 300 700;
}
.card {
  border: 5px #9C59D1 solid;
  border-radius: 15px;
  text-align: center;
  padding: 20px 0;
  background-color: #2C2C2C;
  -webkit-box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.5), inset 0 0 10px black;
  -moz-box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.5), inset 0 0 10px black;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.5), inset 0 0 10px black;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: fit-content;
}
.card img {
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.5);
  height: 300px;
  width: 300px;
}
@media (min-width: 769px) {
  .card img {
    height: 400px;
    width: 400px;
  }
}
@media (min-width: 1090px) {
  .card img {
    height: 400px;
    width: 400px;
  }
}
.card button {
  width: 300px;
  align-self: center;
}

.form-card {
  height: 100%;
  align-content: center;
  justify-items: center;
  justify-content: center;
}

.random-image-card {
  grid-row: 1;
  grid-column: 1;
}

.assigned-images-card {
  grid-column: 1/3;
  grid-row: 2;
}

body {
  background-color: #2C2C2C;
}

.heading-container {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.heading-container span {
  opacity: 0;
  transition: all 0.6s ease;
}
.heading-container span.text-anim {
  opacity: 1;
}

.container {
  display: grid;
  grid-template-columns: 100%;
  width: 95vw;
  margin: auto;
}
.card-container {
  display: grid;
  grid-template-columns: 100%;
  gap: 10px;
}
@media (min-width: 1090px) {
  .card-container {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}

.heading-text {
  color: #9C59D1;
  font-family: Lemonada;
  text-align: center;
  font-size: 18px;
}

.title {
  font-size: 30px;
}

.subheading {
  font-size: 20px;
}

.footer-copyright {
  position: sticky;
  bottom: 0;
  left: 0px;
  width: 80vw;
  background-color: #9C59D1;
  color: #FCF434;
  padding: 10px 20px;
  border-top-right-radius: 20px;
  z-index: 10;
  margin-top: 20px;
}
@media (min-width: 769px) {
  .footer-copyright {
    width: fit-content;
    padding-left: 10px;
  }
}

.email-assignment {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.email-assignment input {
  width: 80%;
  color: #FFFFFF;
  background-color: #464646;
  border-radius: 5px;
  border-color: #9C59D1;
}
@media (min-width: 769px) {
  .email-assignment input {
    width: 40%;
  }
}
.email-assignment input:focus {
  outline: none;
  border: 2px solid #fc00ec;
  -webkit-box-shadow: 0px 0px 20px 1px rgba(252, 0, 236, 0.5);
  -moz-box-shadow: 0px 0px 20px 1px rgba(252, 0, 236, 0.5);
  box-shadow: 0px 0px 20px 1px rgba(252, 0, 236, 0.5);
}
.email-assignment select {
  width: 80%;
  color: #FFFFFF;
  background-color: #464646;
  border-radius: 5px;
  border-color: #9C59D1;
}
@media (min-width: 769px) {
  .email-assignment select {
    width: 40%;
  }
}
.email-assignment select:focus {
  outline: none;
  border: 2px solid #fc00ec;
  -webkit-box-shadow: 0px 0px 20px 1px rgba(252, 0, 236, 0.5);
  -moz-box-shadow: 0px 0px 20px 1px rgba(252, 0, 236, 0.5);
  box-shadow: 0px 0px 20px 1px rgba(252, 0, 236, 0.5);
}
.email-assignment select:hover {
  cursor: pointer;
}
.email-assignment label {
  font-size: 16px;
}

button {
  background-color: #9C59D1;
  color: #FCF434;
  border-color: #FCF434;
  border-radius: 20px;
  font-family: Lemonada;
}
@media (min-width: 769px) {
  button {
    width: 40%;
  }
}

button:hover {
  cursor: pointer;
}

.assigned-image {
  margin: 10px;
}

.error-banner {
  position: absolute;
  top: -200px;
  width: 100vw;
  z-index: 50;
  background-color: #2C2C2C;
  color: #FFFFFF;
  font-size: 30px;
  transition: all 0.5s ease-in-out;
  text-align: center;
  vertical-align: middle;
  padding-top: 3vh;
  padding-bottom: 5vh;
  border: 5px #FCF434 solid;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top: none;
  -webkit-box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.5), inset 0 0 10px black;
  -moz-box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.5), inset 0 0 10px black;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.5), inset 0 0 10px black;
}

.error-banner-displayed {
  position: sticky;
  top: 0;
  transition: all 0.5s ease-in-out;
  height: 11vh;
  z-index: 50;
}

/*# sourceMappingURL=styles.css.map */
