@import "partials/abstract", "partials/layout";

body{
	background-color: $flag-black
}
.background-container {

}
.heading-container{
	padding: 20px 0;
	display: flex;
	flex-direction: column;
	gap: 10px;
	span {
		opacity: 0;
		transition: all 0.6s ease;
	}
	span.text-anim{
		opacity: 1;
	}
}
.container{
	width: 95vw;
	margin: auto;
	@include mq("tablet"){
		width: 95vw;
	}
	@include mq("landscape"){
		width: 95vw;
	}
	@include mq("desktop"){
		width: 95vw;
	}
}
.card-container{
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.heading-text {
	color: $flag-purple;
	font-family: Lemonada;
	text-align: center;
	font-size: 18px;
}
.title {
	font-size: 30px;
}
.subheading {
	font-size: 20px;
}
//footer
.footer-copyright {
	position: sticky;
	bottom: 0px;
	left: 0px;
	width: 30vw;
	background-color: $flag-purple;
	color: $flag-yellow;
	padding: 10px 20px;
	border-top-right-radius: 20px;
}
//form
.email-assignment {
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;
	input {
		width: 80%;
	}
	select {
		width: 80%;
	}
	label {
		font-size: 16px;
	}
}
button {
	background-color: $flag-purple;
	color: $flag-yellow;
	border-color: $flag-yellow;
	border-radius: 20px;
}
