@import "partials/abstract", "partials/layout";

body{
	background-color: $flag-black
}
.background-container {

}
.container{
	width: 750px;
}
.heading-text {
	color: $flag-purple;
	font-family: Lemonada;
	text-align: center;
}
.footer-copyright {
	position: absolute;
	bottom: 10px;
	left: 10px;
	background-color: grey;
}