//variables
//Flag colours
$flag-yellow : #FCF434;
$flag-white : #FFFFFF;
$flag-purple : #9C59D1;
$flag-black : #2C2C2C;

//breakpoints
$brk-sm : 480px;
$brk-med : 768px;
$brk-lrg : 980px;
$brk-xl : 1025px;