.error-banner {
	opacity: 0;
	width: 90%;
	margin: auto;
	margin-bottom: 0;
	margin-top: 0;
	z-index: 50;
	background-color: $flag-black;
	color: $flag-white;
	font-size: 20px;
	transition: all 0.5s ease-in-out;
	text-align: center;
	vertical-align: middle;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 5px $flag-yellow solid;
	border-radius: 15px;
	-webkit-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.5), inset 0 0 10px black;
	-moz-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.5), inset 0 0 10px black;
	box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.5), inset 0 0 10px black;
}
.error-banner-displayed {
	z-index: 50;
	opacity: 1;	
	position: sticky;
}
.email-assignment {
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;
	input {
		font-size: 18px;
		height: 34px;
		width: 80%;
		color: $flag-white;
		background-color: lighten($flag-black, 10%);
		border-radius: 5px;
		border-color: $flag-purple;
		@include mq("tablet"){
			width: 40%;
		}
	}
	input:focus {
		outline: none;
		border: 2px solid #fc00ec;
		-webkit-box-shadow: 0px 0px 20px 1px rgba(252, 0, 236,0.5);
		-moz-box-shadow: 0px 0px 20px 1px rgba(252, 0, 236,0.5);
		box-shadow: 0px 0px 20px 1px rgba(252, 0, 236,0.5);
	}
	select {
		height: 34px;
		font-size: 18px;
		width: 80%;
		color: $flag-white;
		background-color: lighten($flag-black, 10%);
		border-radius: 5px;
		border-color: $flag-purple;
		@include mq("tablet"){
			width: 40%;
		}
	}
	select:focus {
		outline: none;
		border: 2px solid #fc00ec;
		-webkit-box-shadow: 0px 0px 20px 1px rgba(252, 0, 236,0.5);
		-moz-box-shadow: 0px 0px 20px 1px rgba(252, 0, 236,0.5);
		box-shadow: 0px 0px 20px 1px rgba(252, 0, 236,0.5);
	}
	select:hover {
		cursor: pointer;
	}
	label {
		font-size: 16px;
	}
}